<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скважины типа J</title>
  <link href="{{ url_for('static', path='css/j.css') }}" rel="stylesheet">
</head>
<body>
   <div class="container">
        <h1>Скважины типа S</h1>
        <p></p>

        <form action="/s" method="POST">
            <div class="form-group">
                <label for="tvd-vertical">MD вертикального участка [м]:</label>
                <input type="number" id="tvd-vertical" name="md_vertical" required>
            </div>
             <div class="form-group">
                <label for="t-inclined2">MD участка сброса [м]:</label>
                <input type="number" id="t-inclined2" name="md_drop" required>
              </div>
            <div class="form-group">
                <label for="tvd-inclined">Интенсивность набора угла [<sup>град</sup>/<sub>10м</sub>]:</label>
                <input type="number" id="tvd-inclined" name="intensity_up" required>
            </div>
              <div class="form-group">
                <label for="t-inclined">Интенсивность стабилизации угла [<sup>град</sup>/<sub>10м</sub>]:</label>
                <input type="number" id="t-inclined" name="intensity_down" required>
            </div>
            <div class="form-group">
                <label for="inclination">Зенитный угол набора угла [град]:</label>
                <input type="number" id="inclination" name="inclination" required>
            </div>
                <div class="form-group">
                <label for="inclination">Зенитный угол стабилизации [град]:</label>
                <input type="number" id="tangent_angle" name="tangent_angle" required>
                    </div>
             <div class="form-group">
                <label for="inclination">Азимутальный угол [град]:</label>
                <input type="number" id="azimuth" name="azimuth" required>
            </div>
            <div class="form-group">
                <label for="x-coord">Начальные координаты x:</label>
                <input type="number" id="x-coord" name="x" required>
            </div>
            <div class="form-group">
                <label for="y-coord">Начальные координаты y:</label>
                <input type="number" id="y-coord" name="y" required>
            </div>
            <div class="form-group">
                <label for="z-coord">Начальные координаты z:</label>
                <input type="number" id="z-coord" name="z" required>
            </div>
            <div class="form-group">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</body>
</html>