<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визуализация Траектории Бурения</title>
 <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Визуализация Траектории Бурения</h1>
        <p>Проект создан для построения различных траекторий при бурении нефтяных и газовых скважин.</p>

        <div class="file-upload-area">
            <a href="/j" class="file-upload-box">
                <div class="file-upload-logo">J</div>
                <div class="file-upload-description">
                    <p>Для построения J образных скважин</p>
                </div>
            </a>

            <a href="/s" class="file-upload-box">
                <div class="file-upload-logo">S</div>
                <div class="file-upload-description">
                    <p>Для построения S образных скважин</p>
                </div>
            </a>

            <a href="/h" class="file-upload-box">
                <div class="file-upload-logo">H</div>
                <div class="file-upload-description">
                    <p>Для построения горизонтальных скважин</p>
                </div>
            </a>

            <a href="/v" class="file-upload-box">
                <div class="file-upload-logo">V</div>
                <div class="file-upload-description">
                    <p>Для построения вертикальных скважин</p>
                </div>
            </a>

            <a href="/manual" class="file-upload-box">
                <div class="file-upload-logo">M</div>
                <div class="file-upload-description">
                    <p>Для построение скважин с данными инклинометрии</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>

